 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');



 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     width: 1100px;
     margin: 0 auto;
     font-family: 'Poppins', sans-serif;
 }

 .flex {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 /* Nav */

 nav {
     /* display: none; */
     margin-top: 45px;

 }

 nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     list-style-type: none;
     gap: 34px;
 }

 nav .home {
     color: #4A99D3;
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;

 }

 nav li {
     margin-right: 50px;
     font-family: 'Poppins', sans-serif;

     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;

 }

 /* Nav End */

 /* Banner */

 #Banner {
    /* display: none; */
     /* width: 1440px; */
     height: 768px;
     /* flex-shrink: 0; */
     background: linear-gradient(1deg, #4A99D3 -17.33%, rgba(74, 153, 211, 0.00) 75.91%), #FFF;
     /* box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.26);; */
 }

 #Banner .title {
     padding: 233px 0;
     /* margin-left: 32px; */

 }

 .title h1 {
     width: 595px;
     color: #260041;
     font-family: 'Poppins', sans-serif;
     font-size: 50px;
     font-style: normal;
     font-weight: 500;
     line-height: 70px;
     /* 140% */
     letter-spacing: 1px;

 }

 .title p {
     color: #260041;
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 36px;
     /* 180% */
     width: 636px;
     height: 110px;
     flex-shrink: 0;
     margin-bottom: 60px;
 }

 .banner-img {
     padding-top: 100px;
 }

 /* Banner End */

 /* About */

 #about {
    /* display: none; */
     margin-top: 150px;
     margin-bottom: 151px;
     position: relative;
 }

.about-s-pic-1{
    position: absolute;
    bottom: -150px;
    left: 0;
}


.about-s-pic-2 {
    position: absolute;
    top: -150px;
    right: 0;
}
 

 #about h2 {
     /* margin-left: 245px; */
     /* width: 395px; */
     color: #260041;
     font-family: 'Poppins', sans-serif;
     font-size: 36px;
     font-style: normal;
     font-weight: 500;
     line-height: 46px;
     /* 127.778% */
     letter-spacing: 1.8px;
     text-align: center;
     margin-bottom: 30px;
 }

 .cards {

     display: flex;
     justify-content: center;
     align-items: center;
     gap: 70px;
 }


 .card-item {
     background-color: #EDF5FB;
     padding: 20px;
     border-radius: 8px;
 }


 .card-item img {
     width: 224px;
     height: 197px;
     flex-shrink: 0;
 }

 .card-item h1 {
     color: var(--Text-color, #0F001A);
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 30px;
     /* 150% */
     letter-spacing: 0.4px;
 }

 .card-item p {
     font-family: 'Poppins', sans-serif;
     ;
     /* width: 284px; */
     /* height: 103px; */
     /* flex-shrink: 0; */
 }

 .card-item a {

     color: #4A99D3;
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: 30px;
     /* 214.286% */
 }




 /* About End */



 /* Works*/
 #Works {
    
     background: rgba(74, 153, 211, 0.10);
     padding: 95px;

 }



 .Works_text h1 {

     margin-bottom: 88px;
     color: #4A99D3;
     text-align: center;
     font-family: Objective;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .item {
     text-align: center;
     /* margin: 0 auto; */
 }

 .item h4 {
     color: var(--Text-color, #0F001A);
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     width: 174px;
     text-align: center;
     margin: 0 auto;

 }

 .item p {
     text-align: center;
     width: 224px;
     color: var(--Text-color, #0F001A);
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;
     margin: 0 auto;
     /* 162.5% */


 }

 .item img {
     margin-bottom: 30px;

 }


 /* Works End */

 /* client */
 #Client {
    /* display: none; */
    
     background: white;
     margin-top: 150px;

 }





 .client-text {
     margin-bottom: 130px;
     color: var(--Text-color, #0F001A);
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;

 }


 #Client .client-text h1 {
     color: var(--Text-color, #0F001A);
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;

 }


 .left {

     border-radius: 0px 6px 6px 0px;
     background: rgba(74, 153, 211, 0.10);
     width: 100%;
     height: 400px;
     /* flex-shrink: 0; */
 }

 .left img {
     margin-top: -120px;
    
     bottom: -36px;
     left: 0px;
     z-index: -1;

 }

 .right-text {
     padding-left: 100px;

 }


 /* .right img {
     padding-left: 100px;
 } */

 .right-text img{
    width:50px

 }

 .right-text p {
     width: 418px;
     color: var(--Text-color, #0F001A);
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
     margin-top: 40px;
 }

 .right-text h4 {
     color: var(--Text-color, #0F001A);
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     margin-top: 40px;
 }

 .buttons{
    margin-left: -12px;
    width: 150px !important;

 }

 /* .right-text img{
    margin-top: 180px;
    width: 160px;
height: 80px;


 } */
/* 
 .right-text img {
     margin-bottom: -194px;
     width: 160px;
     height: 80px;
     margin-left: 270px;
 } */

 /* client end */

 /* Download  */

 #download {
     position: relative;
     /* display: none; */
     padding: 118px 161px;

 }

 .download-f-1 {
     position: absolute;
     bottom: -36px;
     left: 0px;
     z-index: -1;
 }

  .download-f-2 {
        position: absolute;
        bottom: -60px;
        right: 0px;
        z-index: -1;
    }



 #download .download-text {

     margin-top: 114px;
     padding-right: 68px;
     text-align: center;
 }

 #download .download-text h1 {
     color: var(--Text-color, #0F001A);
     /* text-align: center; */
     font-family: 'Poppins', sans-serif;
     font-size: 25px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     margin-right: 90px;
     margin-bottom: 15.8px;
 }

 .download-text p {
     width: 444px;
     color: var(--Text-color, #0F001A);
     /* text-align: center; */
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     /* 150% */
 }

 .download-text img {
     padding-top: 56px;
     padding-right: 107px;
     /* margin: 0 auto; */
     /* text-align: center; */
 }


 /* Download End */

 /* New footer */

 footer {
     padding-top: 55.34px;
     /* margin-top: 140px; */
     padding-bottom: 57px;
     background: #EDF5FB;
 }

 footer p {
     width: 449px;
     color: #29313D;
     font-family: Nunito;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 180%;
     /* 32.4px */
     text-transform: capitalize;
     margin-top: 44px;
 }

 footer ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 footer h2 {
     margin-bottom: 48px;
 }

 footer ul a {
     text-decoration: none;
     display: block;
     color: #29313D;
     font-family: Nunito;
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: 120%;
     /* 24px */
     text-transform: capitalize;
     margin-bottom: 30px;
 }

 .copyright {
     margin-top: 80px;
 }

 .copyright span {
     color: #29313D;
     font-family: Nunito;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 180%;
     /* 32.4px */
     text-transform: capitalize;

 }

 .copyright a {
     color: #29313D;
     font-family: Nunito;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 180%;
     /* 32.4px */
     text-transform: capitalize;
     text-decoration: none;
     display: inline-block;
 }

 .Privacy {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     gap: 60px;
 }

 /* footer end */